.jumbotron {
    background-color: rgb(100, 28, 100);
    color: black;
    
}

.card-hotel{
    flex: 1 300px;
    padding: 20px 20px 20px 20px;
    margin-top: 10px;
    
}



footer{
    padding: 10px 10px 0 10px ;
    background-color:  rgb(109, 46, 109);
    margin-bottom: 0px;
    margin-top: 10px;
}

.footer-address-icon{
    padding-right: 10px;
}



